<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <% include partials/header %>

    <h3> Title: <%= movie.title %></h3>
    <p>Plot: <%= movie.plot %></p>
    <p>Actors: <%= movie.actors %></p>

    <p><a href="/">Back</a></p>

    <% include partials/footer %>
  </body>
</html>