 <footer class="page-footer unique-color-dark center-on-small-only pt-0">
      <div class="container">
        <div class="row">
            <div class="col-md-12 bg-dark fixed-bottom" >
            <p class="text-light"> The Movie App</p>
            </div>
        </div>
      </div>
    </footer>